<form [formGroup]="form" class="container">
  <div class="center"><h4 style="color:cornflowerblue; ">Create New Duck</h4></div>
  <div class="form-group">
    <!-- field to add duck name -->
    <label for="duckName" ><b>Duck Name</b></label>
    <input
      type="text"
      class="form-control"
      id="duckName"
      placeholder="Enter duck name"
      formControlName="name"

    />
  </div>

  <!-- radio group to add one fly behavior for a duck -->
  <label><b>Select Fly Behavior</b></label> <br />
  <div class="form-check">
    <label>
      <input
        class="form-check-input"
        type="radio"
        value="FlyWithWings"
        formControlName="fly"
      />
      <label class="form-check-label" for="flyWithWings">
        Fly With Wings
      </label>
    </label>
    <br />
    <label>
      <input
        class="form-check-input"
        type="radio"
        value="NoFly"
        formControlName="fly"
      />
      <label class="form-check-label" for="flyNoWay"> Fly No Way </label>
    </label>
  </div>

  <!-- radio group to add one quack behavior for a duck -->
  <label><b>Select Quack Behavior</b></label> <br />
  <div class="form-check">
    <label>
      <input
        class="form-check-input"
        type="radio"
        value="quack"
        formControlName="quackBehavior"
      />
      <label class="form-check-label" for="quack"> Quack </label>
    </label>
    <br />
    <label>
      <input
        class="form-check-input"
        type="radio"
        value="squeak"
        formControlName="quackBehavior"
      />
      <label class="form-check-label" for="squeak"> Squeak </label>
    </label>
    <br />
    <label>
      <input
        class="form-check-input"
        type="radio"
        value="muteQuack"
        formControlName="quackBehavior"
      />
      <label class="form-check-label" for="muteQuack"> Mute Quack </label>
    </label>
  </div>

  <!-- add duck to the duck collection -->
  <button (click)="addDuck()" [disabled]="form.invalid" type="submit" value="Reset"  class="btn btn-primary">
    Add Duck
  </button>
</form>

<!-- table to show all the ducks. By clicking on check fly/quack behavior, duck's behaviors can be checked -->
<div class="container" *ngIf="ducks.length > 0">
  <div><i>F12 to check more details related to function calls, in console</i></div>
  <table class="table table-dark" style="width: 90%; margin-top: 15px">
    <thead>
      <tr>
        <th>Name</th>
        <th>Fly Behavior</th>
        <th>Quack Behavior</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let duck of ducks">
        <!-- display duck name -->
        <td>{{ duck.name }}</td>
        <td>
          <!-- button to check duck's fly behavior -->
          <button (click)="checkFly(duck)" class="btn btn-primary">
            Check Fly Behavior
          </button>
        </td>
        <td>
          <!-- button to check duck's quack behavior -->
          <button (click)="checkQuack(duck)" class="btn btn-primary">
            Check Quack Behavior
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
